# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so they can be ignored.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosetests
.pytest_cache/
venv/
.venv/
ENV/
env/
ENV/

# Flask stuff:
instance/
.webassets-cache

# Static files mapping
static/.webassets-cache

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS files
Thumbs.db
db.db
Desktop.ini
.DS_Store
